body {
  background-color: teal;
}

.container {
  display: flex;
  background-color: grey;
  flex-direction: column;
  max-width: 650px;
  max-height: 250px;
  margin: 20 450 20 450;
}


#nav1 {
  text-align: center;
  font-weight: 800;
  font-size: x-large;
  border-style: double;
}

#Name {
  text-align: center;
  font-size: xx-large;
  text-decoration: underline wavy black;
}

#myphoto {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 640px;
  width: 420px;
}

#welcome {
  text-align: center;
  font-size: xx-large;
  text-decoration-line: underline;
  font-family: inherit;
}

#intro {
  font-size: x-large;
  text-align: center;
}

.quote {
  text-align: center;
  font-family: 'franklin gothic medium';
}

#bulldozer {
  height: 250;
  width: 400;
}

.items {
  font-weight: 400;
  font-family: Georgia, 'Times New Roman', Times, serif;
}