body {
  background-color: teal;
}

header {
  background-color: grey;
  text-align: center;
  width: 600px;
  height: 200px;
  margin-top: 20;
  margin-bottom: 20;
  margin-left: 450;
  margin-right: 450;
  text-indent: 10px;
  display: inline-block;
  font-size: x-large
}


#nav1 {
  text-align: center;
  font-weight: 800;
  color: lightgray;
}

#Name {
  text-align: center;
  color: lightgray;
}